body {
    background-color: #e8f1ff;
    color: #6c6c6c;
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
}

.interval-container {
    display: flex;
    margin: 0 40px;
    align-items: center;
}

.interval-length-container {
    display: flex;
}

button {
    font-style: italic;
    padding: 5px 10px;
    margin: 0 10px;
    height: 25px;
    background-color: #6c6c6c;
    border: none;
    outline: none;
    cursor: pointer;
    color: #e8f1ff;
    width: 70px;
    border-radius: 8px;
    box-shadow: -2px 2px 5px #505050;
}

button:disabled {
    cursor: not-allowed;
}

.interval-length {
    font-size: 2rem;
    margin: 0 10px;
}

.timer-container {
    border: 2px solid #6c6c6c;
    margin-top: 40px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 4px #6c6c6c;
    padding: 10px;
}

.timer {
    font-size: 2rem;
}

.timer-actions {
    margin-top: 20px;
    text-align: center;
}
